.container {
    max-width: 1440px;
    margin: auto;
    padding: 2rem 10rem;
}

.container h1 {
    font-family: 'Baloo 2', sans-serif;
    font-size: 2rem;
    color: var(--gray-800);
    line-height: 130%;
    font-weight: 900;
}

.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2.5rem;
    margin-top: 3.375rem;
}